.singleStory {
    flex: 9 ;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.singlePage {
    padding: 10px 10px 10px 20px;
    font-size: 18px;
    background-color: antiquewhite;    /* border: 1px solid #666; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    
}

.titleStory {
    margin-left: 10px;
}

.detailStory {
    display: flex;
}
.detailShort {
    flex: 3;
    
}
.detailShort img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
    width: 250px;
}
#dsChap {
    padding-top: 40px;
}

.vivi {
    height: 236px;
    width: 221px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* Phan Chi tiet truyen dai */
.detailLong {
    flex: 6;
    
}
.detail {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.tbody {
    text-align: center;
}
.dsChuong {
    margin-right: 10px;
}
.dsChuong {
    background-color: #2c7abe;
    color: white ;
    border: 0 ;
}
.trLike {
    background-color: rgb(230, 61, 61);
    color: white ;
    border: 0 ;
}

.title {
    margin: 10px;
    /* Can theo chieu ngang */
    /* Viet in hoa toan bo */
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.summaryTitle {
    margin-left: 30px;

}
.dsc {
    text-decoration: none;
    color: white;
}
.dsc:hover {
    color: white;
}
.summaryStory {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    transition: all 0.5s;

}
 
.xemthem {
    text-align: center;
    margin-top: 20px;

}


/* CSS BUTTON btnXem*/
.btnXem {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 10px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.btnXem:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btnXem:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.read-more-less--more,
.read-more-less--less {
  color: #999;
}
